:root {
    --light-gold-color: #F4D47C;
    --gold-color: #C99A3A;
    --brown-color: #5A0B05;
    --dark-red-color: #6E4A1A;
    --darker-red-color: #3A0307;
    --white-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 40px;
}

.review-container {
    background-color: var(--light-gold-color);
    max-width: 500px;
    margin: auto;
    padding: 30px 35px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-top: 8px solid var(--brown-color);
}

h1 {
    background-color: var(--brown-color);
    color: var(--white-color);
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 20px;
}

label,
legend {
    display: block;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--dark-red-color);
}

small {
    font-weight: normal;
    font-size: 0.85em;
    color: var(--darker-red-color);
}

select,
input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 12px 15px;
    font-size: 1.1rem;
    border: 1px solid var(--brown-color);
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: var(--white-color);
}

.rating {
    margin-top: 5px;
    margin-bottom: 10px;
}

.rating label {
    display: inline-block;
    font-size: 1.3rem;
    margin-right: 8px;
    cursor: pointer;
    color: var(--darker-red-color);
}

fieldset {
    border: none;
    padding: 0;
    margin-top: 10px;
}

fieldset label {
    margin: 4px 0;
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--dark-red-color);
}

button {
    margin-top: 20px;
    background-color: var(--brown-color);
    color: var(--white-color);
    padding: 15px;
    font-size: 1.1rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--dark-red-color);
}

footer {
    text-align: center;
    margin-top: 25px;
    font-size: 0.85rem;
    color: var(--darker-red-color);
}

footer p {
    margin-top: 5px;
    color: var(--brown-color);
}

@media (max-width: 600px) {
    .review-container {
        padding: 25px;
    }

    h2 {
        font-size: 1.2rem;
    }

    .rating {
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
    }

    label,
    legend {
        font-size: 1rem;
        margin-top: 18px;
        margin-bottom: 8px;
    }

    input[type="text"],
    input[type="date"],
    select,
    textarea {
        font-size: 1rem;
        padding: 10px 12px;
    }

    button,
    input[type="submit"] {
        font-size: 1rem;
        padding: 12px;
    }
}