body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


header,
main,
footer {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px solid #b3c6e0; 
  padding: 1.5rem;
  background-color: #eaf1fb; 
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

section {
  padding: 1rem;
  background-color: #fff;
}